.about-layout {

    h1 {
        @extend %post-title; 
    }

    &__intro {
        margin-bottom: 75px;
        @include breakpoint(large){
            margin-bottom: 125px;
        }
    }

    &__content-top {
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        h2 {
            @extend %font-h1;
            text-align: center;
            margin-bottom: 50px;
            @include breakpoint(large){
                max-width: 325px;
                margin-left: 100px;
                margin-bottom: 85px;
            }
        }
        .images {
            position: relative;
            .cell {
                &:last-child {
                    text-align: right;
                    @include breakpoint(medium down){
                        margin-top: 30px;
                    }
                    @include breakpoint(large){
                        position: absolute;
                        right: 0;
                        top: -281px;
                    }
                    @media screen and #{breakpoint(large)} and #{breakpoint(xlarge down)} {
                        // Medium to extra large styles
                        img {
                            max-width: 90%;
                        }
                    }
                }
            }
        }
    }

    &__content-bottom {
        margin-bottom: 50px;
        position: relative;
        @include breakpoint(large){
            max-width: 890px;
            margin-bottom: 150px;
        }
        .signature {
            padding-top: 40px;
            @include breakpoint(medium down){
                margin-bottom: 30px;
            }
        }
        .graphic {
            @include show-for('large');
            position: absolute;
            right: -50px;
            top: -185px;
        }
        .large-only {
            @include show-for('large');
        }
    }

    &__contact {
        max-width: 890px;
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 200px;
        }
        .cell {
            background-color: $light-peach;
            padding: 30px;
            @include breakpoint(medium){
                padding: 75px 75px 25px;
            }
        }
    }
}