.archive-layout {

    &__intro {
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        .grid-container {
            max-width: 1300px;
        }

        h2 {
            @extend %font-h1;
            a {
                color: $black;
            }
        }
    }

    &__posts {
        max-width: 1015px;
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        header {
            border-top: 1px solid $black;
            padding-top: 8px;
        }
        article{
            margin-bottom: 35px;
        }
        
    }
}