footer {

    background-color: $brand-brown-orange;
    @media print {
        display: none;
    }
    .grid-container {
        padding-top: 75px;
        padding-bottom: 100px;
        max-width: 1100px;
        &--top {
            padding-bottom: 50px;
        }
        &--misc {
            padding-bottom: 25px;
            a,p {
                color: $black;
                text-transform: uppercase;
                font-size: rem-calc(11);
                letter-spacing: 2px;
            }
            a {
                &:hover {
                    color: $black;
                }
            }
        }
    }

    .cell {
        &--logo {
            @include breakpoint(medium){
                padding-top: 10px;
            }
        }
        &--main {
            @include breakpoint(small only){
                margin-bottom: 30px;
                &:first-child {
                    margin-top:0;
                }
            }
        }
    }

    .grid-x {
        &--menu {
            margin: 0;
            a {
                @extend %font-h3;
                color: $black;
                &:hover {
                    color: $black;
                }
            }
            li {
                list-style: none;
                padding-bottom: 9px;
            }
        }
    }

    // social
    .social-link {
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            margin-left: 30px;
            &:first-child {
                margin-left:0;
            }
        }
        .fa {
            font-size: 14px;
        }
        a {
            color: $black;
            &:hover {
                color: $black;
            }
        }
    }

    .gform_confirmation_message {
        color: $black;
    }
}