.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}

$scrollhide-nav-transition-speed: 1s;

.scrollhide-nav {
    @include breakpoint(large){
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);
        &.hidden {
          transform: translateY(-100%);
        }
    }
}

.header {

    .menu-icon {
        &:after {
            background: $black;
            box-shadow: 0 7px 0 $black, 0 14px 0 $black;
        }
    }

    .home-logo {
        margin-bottom: 10px;
        @include breakpoint(medium down){
            display: none !important;
        }
        .shrink {
            width: 100%;
            text-align: center;
            position: relative;
            &:after {
                content:'';
                position: absolute;
                width: 3600px;
                bottom: 0;
                height: 1px;
                border-bottom: 1px solid $black;
                left: 50%;
                transform: translate(-50%,0);
                display: block;
            } 
        }
    }
    
    .header__menu {
        // display: none;
    }

    .home-logo {
        .header__menu {
            display: block;
            padding-bottom: 10px;
        }
        .shrink {
            width: 100%;
            text-align: center;
        }
    }

    .header__sticking.is-at-top.is-stuck {
        .header__menu {
            // display: block;
        }

        .home-logo {
            // display: none;
        }
    }
    .home & {
    }

    &__title-bar {
        // @extend .title-bar;
    }

    &__title-bar-title {
        // @extend .title-bar-title;
    }

    &__top-bar {
        // @extend .top-bar;
        position: relative;
        background-color: transparent;
        ul {
            background-color: transparent;
        }
    }

    &__top-bar-left {
        // @extend .top-bar-left;
        @include show-for('large');
    }

    &__top-bar-right {
        @extend .top-bar-right;
        @include breakpoint(xxlarge){
            @include centerer;
            max-width: 660px;
            width: 100% !important;
        }
    }

    &__dropdown-menu {
        @extend .menu;
        @extend .dropdown;
        a {
            @extend %font-nav;
            color: $black;
            &:hover {
                text-decoration: underline;
            }
        }
        li {
            @include breakpoint(large){
                margin: 0 10px;
            }
            @include breakpoint(xlarge){
                margin: 0 25px;
            }
            @include breakpoint(xxlarge){
                margin: 0 30px;
            }
        }
        // .current-menu-item {
        //     a {
        //         text-decoration: underline;
        //     }
        // }
        .nuxt-link-active {
            text-decoration: underline;
        }
    }
    
    &__logo {
        @include breakpoint(medium down){
            width: 100%;
            max-width: 200px;
        }
        @include breakpoint(large){
            max-width: 215px;
        }
    }

    &__search {
        cursor: pointer;
        transition: opacity .25s ease-out;
        &:hover {
            opacity: .1;
        }
        img {
            max-width: 17px;
        }
    }
    
    &--main {
        background-color: $white;
        // border-bottom: 1px solid $black;
        z-index: 9;
        // padding: 0 15px;
        .grid-container {
            max-width: 1920px;
            padding: 12px 15px;
        }

        .dropdown-pane  {
            border:none;
            padding:0;
            // transform: translate(0, 10px);
        }
        
        .search-form {
            margin-top: 15px;
            background: $brand-brown-orange;
            .screen-reader-text {
                position: fixed;
                left: -99999px;
            }
            .search-field {
                @extend %font-meta;
                color: $black;
                font-size: rem-calc(12);
                height: rem-calc(45);
                padding: 0 17px;
                background-color: transparent;
                margin:0;
                box-shadow: none;
                border: none;
                @include placeholder(){
                    color: $black;
                    text-transform: uppercase;
                }
            }
            .search-submit {
                display: none;
            }
        }
    }

    &__sticking {
        background-color: $white;
        border-bottom: 1px solid $black;

        .scroll-logo {
            opacity: 0;
            transition: opacity .25s ease-out;
            &.showing {
                opacity: 1;
            }
        }
        &.is-stuck {
            @include breakpoint(large){
                transform: translateY(-82px);
            }
        }
        &.is-stuck.hidden {
            @include breakpoint(large){
                transform: translateY(-100%);
            }
        }
    }

    &__desktop-search {
        position: relative;
        
        .social-link {
            position: absolute;
            text-align: center;
            right: 2px;
            top: 90px;
            @include breakpoint(1350 down){
                display: none;
            }
            li {
                list-style: none;
                margin-bottom: 10px;
            }
            a {
                color: $black;
            }
        }
        
    }
}

.off-canvas {
    background-color: $light-peach;
    overflow: visible;
    .fa {
        &.fa-times {
            cursor: pointer;
            position: absolute;
            display: none;
            opacity: 0;
            transition: opacity .25s ease-out;
            transition-delay: 1s;
            right: 0;
            transform: translate(40px, 25px);
        }
    }

    &.is-open {
        .fa {
            &.fa-times {
                display: inline-block;
                opacity: 1;
            }
        }
    }
}

.off-canvas-nav {
    padding: 45px;

    .header__dropdown-menu {
        margin-bottom: 20px;
    }

    .menu-item {
        width: 100%;
        margin-bottom: 5px;
        a {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            font-size: 23px;
        }
    }

    .menu-item-235 {
        margin-bottom: 35px;
    }

    .text-right {
        text-align: left;
    }

    .dropdown-pane {
        width: 175px;
        background: none;
        border:none;
        padding: 0;
        .screen-reader-text {
            color: transparent;
        }
    }

    .social-link {
        margin: 30px 0 0;
        li {
            list-style: none;
            display: inline-block;
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            color: $black;
        }
    }

    .graphic {
        max-width: 50px;
        padding-bottom: 75px;
        @include breakpoint(340 down) { 
            padding-bottom: 30px;
        }
    }
}

.off-canvas-content {
    overflow: hidden;
}

.js-off-canvas-overlay {
    background: rgba($color: #fff, $alpha: .8)
}