.page-template-tmpl-shop-look,
.page-template-tmpl-shop-style,
.page-template-tmpl-about {
    .header--main {
        margin-bottom: 50px;
    }
}

.page-template-tmpl-shop-style {
    #latest-post-filter {
        display: none;
    }
}
main {
    min-height: 900px
}
.home-layout {

    .section-title {
        @extend %font-h2;
        margin-bottom: 30px;
    }

    &__recent-posts-top {
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        @include breakpoint(xlarge){
            margin-bottom: 150px;
        }
        .grid-container {
            max-width: 990px;
        }
        header {
            border-top: 1px solid $black;
            padding-top: 8px;
        }
        .cell {
            margin-bottom: 35px;
        }

        .form-cell {
            background-color: $brand-brown-orange;
            padding: 45px;
        }
    }

    &__posts-insta {
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        @include breakpoint(xlarge){
            margin-bottom: 150px;
        }
        header {
            border-top: 1px solid $black;
            padding-top: 8px;
        }
        .grid-container {
            max-width: 990px;
        }
        .content-left {
            @include breakpoint(medium){
                @include xy-cell(70%);
                margin-top: 33px;
            }
        }
        .content-right {
            @include breakpoint(medium){
                @include xy-cell(25%)
            }
            h2 {
                @extend %font-h3;
                border-bottom: 1px solid $black;
            }
        }
        article{
            margin-bottom: 35px;
        }
    }
}