.single-layout {
    overflow: hidden;
    article {
        max-width: 1100px;
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
    }

    figure {
        margin-bottom: 50px;
    }

    figcaption {
        @extend %font-meta;
        padding-top: 15px;
    }

    blockquote {
        border: none;
        padding: 0;
        p {
            @extend %font-h1;
            font-style: italic;
        }
    }
    
    .content-left {
        @include show-for('large');
        @include xy-cell(23%);
    }
    
    .content-right {
        @include xy-cell(12);
        @include breakpoint(large){
            @include xy-cell(77%);
            padding: 0 75px;
        }
    }

    .image-left-bg {
        min-height: 550px;
        background-size: cover;
        background-position: center;
        &:after {
            content:'';
            min-height: 100%;
        }
    }

    &__grid {
        margin: 0;
    }

    &__sxs-block {
        margin-bottom: 50px;
    }
   
    &__text-block {
        margin-bottom: 35px;
    }
    
    &__title-block {
        padding-bottom: 5px;
        margin-bottom: 60px;
        .section-title {
            @extend %font-h2;
            text-transform: uppercase;
        }
        &--long {
            border-bottom: 1px solid $light-grey;
            margin: 0 auto 50px;
            width: 100%; 
            @include breakpoint(large){
                width: 125%; 
                margin: 0 -75px 60px;
            }
        }
        &--related {
            .section-title {
                border-bottom: 1px solid $light-grey;
                margin-bottom: 30px;
                padding-bottom: 20px;
            }
        }
    }

    &__locations {
        margin-bottom: 50px;
        width: 100%;
        h2 {
            @extend %font-h3;
        }
        a {
            @extend %font-headline-eyebrow;
            text-decoration: underline;
            display: block;
            line-height: 18px;
            @include breakpoint(medium){
                margin-top: 38px;
            }
        }
        p {
            @include breakpoint(medium){
                margin-bottom: 30px;
            }
        }
        .location-cell {
            margin-bottom: 25px;
            border-bottom: 1px solid $light-gray;
            padding-bottom: 30px;
            @include breakpoint(medium){
                border-left: 1px solid $light-gray;
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    &__sxs,
    &__im-cr {
        width: 100%;
        margin: 0;
    }

    &__pagination {
        overflow: hidden;
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 75px;
        }
        .pagination-link {
            background-color: $light-peach;
            padding: 30px 45px;
            transition: background-color .25s ease-out;
            &:hover {
                background-color: transparent;
            }
        }        
        .basic-title {
            @extend %font-meta;
            display: block;
        }
        .title {
            @extend %font-h3;
            display: inline-block;
            max-width: 275px;
        }
        .prev {
            text-align: center;
            @include breakpoint(large){
                text-align: right; 
            }
        }
        .next {
            text-align: center;
            @include breakpoint(large){
                text-align: left; 
            }
            @include breakpoint(medium down){
                margin-top: 30px;
            }
        }
    }

    &__pagination-grid {
        -ms-flex-pack: center;
        justify-content: center;
        @include breakpoint(large){
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }

}