.shop-layout {
    .page-header {
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        h1 {
            @extend %post-title;
        }
    }

    &--styles {
        display: block;
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        @include breakpoint(xlarge){
            margin-bottom: 150px;
        }
        .grid-container {
            max-width: 990px;
        }
    }

    &--insta {
        .shop-layout__basic-posts {
            min-height: 1024px
        }
    }
}


#view-more-content {
    text-align: center;
    margin-bottom: 50px;
    @include breakpoint(large){
        margin-bottom: 100px;
    }
    @include breakpoint(xlarge){
        margin-bottom: 125px;
    }
    button {
        @extend %font-meta;
    }
}