<template>  

    <section class="home-layout__recent-posts-top">

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                
                <div class="cell">
                    <h2 class="section-title">
                        RECENT POSTS
                    </h2>
                </div>

            </div>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-margin-x medium-up-3 align-top">
                
                <post-preview v-for="post in postsData" :key="post.id" 
                    :title="post.title.rendered" 
                    :link="post.slug" 
                    :category="post.fixed_category.prime_cat_name" 
                    :excerpt="post.excerpt.rendered"
                    :imgUrl="post.acf.featured_image_acf.sizes['vue-preview']"
                >
                </post-preview>

                <div class="cell form-cell">
                    <div class="gform_wrapper" id="gform_wrapper_3">
                        <form @submit.prevent="validateBeforeSubmit">
                            <div class="gform_heading">
                                <h3 class="gform_title">
                                    Stay In the Loop
                                </h3>
                                <span class="gform_description">
                                    Sign up for my newsletter so you won’t skip a beat. Follow along on your own time to stay on top of curated guides, destinations you thought were too good to be true, the best bites around the globe, and your daily dose of elevated style.
                                </span>
                            </div>
                            <div id="form_3_response">
                                
                                <div v-if="is_value === false" class="callout alert">
                                    {{ formResponse }}
                                </div>
                                
                            </div>
                            <div class="gform_body">
                                <ul id="gform_fields_3" class="gform_fields top_label form_sublabel_below description_below">
                                    <li id="field_3_1" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_3_1">Email</label>
                                        <span v-show="errors.has('input_1')" class="callout alert">{{ errors.first('input_1') }}</span>
                                        <div class="ginput_container ginput_container_email">        
                                            <input 
                                                v-model="input_1" 
                                                v-validate="'required|email'" 
                                                :class="{'input': true, 'is-danger': errors.has('input_1') }"
                                                name="input_1" id="input_3_1" type="text" value="" placeholder="Email" aria-invalid="false">
                                        </div>
                                    </li>
                                    <li id="field_3_2" class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_3_2">Email</label>
                                        <div class="ginput_container">
                                            <input name="input_2" id="input_3_2" type="text" value="">
                                        </div>
                                        <div class="gfield_description">
                                            This field is for validation purposes and should be left unchanged.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                                <div class="gform_footer top_label"> 
                                    <button id="gform_submit_button_3" class="gform_button button">
                                        submit
                                    </button>          
                                </div>

                                
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

</template>

<style lang="scss" scoped>
    .callout {
        &.alert {
            margin: 0 0 12px;
            display: block;
        }
    }
</style>

<script>

    import PostPreview from '~/components/posts/preview.vue'

    import axios from 'axios'

    import Vue from 'vue';
    import VeeValidate from 'vee-validate';

    Vue.use(VeeValidate);

    // add this because inputs need to be kept the safe for WP 
    import { Validator } from 'vee-validate';
    const dictionary = {
        en: {
            attributes: {
                input_1: 'Email Address',
            }
        },

    };

    Validator.localize(dictionary);

    export default {
        // hook into life cycle event
        props: ['postsData'],
        mounted(){
            // this.getPage();
        },
        data(){
            return {
                isLoading: false,
                formResponse: '',
                is_value: true,
                input_1:''
                // loadedPostc: []
            }
        },
        components: {
			PostPreview
        },
        methods: {
            validateBeforeSubmit($el){
                this.$validator.validateAll().then((result) => {
                    if (result) {
 
                        let self = this;
                        // var values = {
                        //         input_values : {
                        //             input_1 : $el.target[0].value,
                        //             input_2 : $el.target[1].value
                        //         }
                        //     }
        
                            // console.log(values)
                        this.$axios.post('/stay-in-touch/',{
                            input_values : {
                                    input_1 : $el.target[0].value,
                                    input_2 : $el.target[1].value
                                }
                        })
                            .then(function (response) {
                                // console.log(response);
                                if(response.data.response.is_valid === false && response.data.response.validation_messages[1]){
                                    // console.log('balls');
                                    self.is_value = false;
                                    self.formResponse = response.data.response.validation_messages[1]
                                    // console.log('nothing');
                                } else if(response.data.response.validation_messages && response.data.response.is_valid === false){
                                    // a bot filled this honey pot out! NOOOOO!
                                    // thats ok though, this isn't going anywhere, doesn't hit the DB by default,
                                    // but fake confirm text anyways like sites normally do
                                    // console.log('bot');
                                    self.is_value = false;
                                    self.formResponse = 'Thanks for BOT! We will get in touch with you shortly.';
                                } else {
                                    self.is_value = true;
                                    document.getElementById('form_3_response').innerHTML += response.data.response.confirmation_message;
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        // alert('Form Submitted!');
                        return;
                    }

                    // alert('Correct them errors!');
                });

            }   
        }
    }
</script>