<template>
    <section class="home-layout__posts-insta">

        <div class="grid-container">

            <div class="grid-x gird-margin-x align-justify">

                    <div class="cell content-left">
                        <div class="grid-x grid-margin-x medium-up-2">

                            <post-preview v-for="post in postsData" :key="post.id" 
                                :title="post.title.rendered" 
                                :link="post.slug" 
                                :category="post.fixed_category.prime_cat_name" 
                                :excerpt="post.excerpt.rendered"
                                :imgUrl="post.acf.featured_image_acf.sizes['vue-preview']"
                            >
                            </post-preview>

                        </div>
                    </div>

                    <div class="cell content-right">
                        <h2>
                            Insta Looks

                            todo: still waiting on client api,<br/>
                            after recieving, create endpoint and cache as transient for 3 days
                        </h2>
                    </div>

            </div>
        
        </div>

    </section>
</template>

<script>

    import PostPreview from '~/components/posts/preview.vue'

    export default {
        // hook into life cycle event
        props: ['postsData'],
        mounted(){
            // this.getPage();
        },
        components: {
			PostPreview
		}
    }
</script>
