<template>
    <section class="featured-post featured-post--second">

        <div class="grid-container">
            <div class="grid-x grid-padding-x align-middle">
                
                <div class="cell medium-6 featured-post__img">
                    <nuxt-link :to="'posts/' + loadedSecondData.slug" class="linked-img" v-bind:title="loadedSecondData.title">
                        <img v-bind:src="loadedSecondData.imgUrl" alt="">
                    </nuxt-link>
                </div>

                <div class="cell medium-6 featured-post__details">

                    <span class="featured-post__cat featured-post__cat--spacing">
                        add term to the api already!
                    </span>
                    <h2 id="featured-title-1" class="featured-post__title">
                        <nuxt-link :to="'posts/' + loadedSecondData.slug">
                            {{ loadedSecondData.title }}
                        </nuxt-link>
                    </h2>

                    <p class="featured-post__excerpt" v-html="loadedSecondData.excerpt">
                    </p>

                    <nuxt-link :to="'posts/' + loadedSecondData.slug" class="featured-post__link">
                        READ MORE >
                    </nuxt-link>
                </div>


            </div>
        </div>

    </section>
</template>


<script>

    export default {
        // hook into life cycle event
        props: ['loadedSecondData'],
    }
</script>