<template>

    <section class="featured-post featured-post--third">

        <div class="grid-container">
            <div class="grid-x grid-padding-x align-middle">
                
                <div class="cell medium-6 featured-post__img">
                    <nuxt-link :to="'posts/' + loadedThirdData.slug" class="linked-img" v-bind:title="loadedThirdData.title">
                        <img v-bind:src="loadedThirdData.imgUrl" alt="">
                    </nuxt-link>
                </div>

                <div class="cell medium-6 featured-post__details">

                    <h2 id="featured-title-3" class="featured-post__title">
                        City Guide: <br/>
                        <nuxt-link :to="'posts/' + loadedThirdData.slug">
                            {{ loadedThirdData.title }}
                        </nuxt-link>
                    </h2>

                    <p class="featured-post__excerpt" v-html="loadedThirdData.excerpt">
                    </p>

                    <nuxt-link id="featured-link-3" :to="'posts/' + loadedThirdData.slug" class="featured-post__link" aria-labelledby="featured-title-3 featured-link-3">
                        READ MORE >
                    </nuxt-link>
                </div>


            </div>
        </div>

    </section>

</template>

<script>

    export default {
        // hook into life cycle event
        props: ['loadedThirdData'],
    }
</script>