<template>

    <section class="featured-post featured-post--top">

        <div class="grid-container">
            <div class="grid-x grid-padding-x align-middle">
                
                <div class="cell medium-6 featured-post__details">

                    <span class="featured-post__cat featured-post__cat--spacing">
                        <!-- {{ FP_TOP.terms() | first}} -->
                        add term to api
                    </span>
                    <h2 id="featured-title-1" class="featured-post__title">
                        <nuxt-link :to="'posts/' + loadedTopData.slug">
                            {{ loadedTopData.title }}
                        </nuxt-link>
                    </h2>

                    <p class="featured-post__excerpt" v-html="loadedTopData.excerpt">
                    </p>
                    
                </div>

                <div class="cell medium-6 featured-post__img">
                    <nuxt-link :to="'posts/' + loadedTopData.slug" class="linked-img" v-bind:title="loadedTopData.title">
                        <img v-bind:src="loadedTopData.imgUrl" alt="">
                    </nuxt-link>
                </div>

            </div>
        </div>

    </section>

</template>


<script>

    export default {
        // hook into life cycle event
        props: ['loadedTopData'],
        mounted(){
            // this.getPage();
        },
        data(){
            return {
                // loadedPostc: []
            }
        },
        updated() {
            // console.log(this.loadedTopData)
            // console.log('test');
        },
        methods: {

        }
    }
</script>