<template>
    <footer class="content-info">

        <div class="grid-container grid-container--top">
            
            <div class="grid-x grid-margin-x align-justify">
            
                <div class="cell cell--main cell--logo small-12 medium-3">
                    <nuxt-link :to="{ path: '/' }" class="logo-link">
                        <img class="header__logo" src="~assets/images/footer-logo.png" alt="">
                    </nuxt-link>
                </div>

                <div class="cell cell--main small-12 medium-5">
                    <ul class="grid-x grid-x--menu">
                        
                        <li class="cell small-6" v-for="nav in footer_nav" :key="nav.id" >
                           <nuxt-link :to="nav.url"  >
                                {{ nav.title }}
                            </nuxt-link>
                        </li>
 
                    </ul>
                </div>

                <div class="cell cell--main small-12 medium-4">
                    <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1">
                        <a id="gf_1" class="gform_anchor"></a>
                        <form @submit.prevent="validateBeforeSubmit">
                            <div class="gform_heading">
                                <h3 class="gform_title">Keep In Touch</h3>
                            </div>
                            <div id="form_1_response">
                                
                                <div v-if="is_value === false" class="callout alert">
                                    {{ formResponse }}
                                </div>
                                
                            </div>
                            <div class="gform_body">
                                <ul id="gform_fields_1" class="gform_fields top_label form_sublabel_below description_below">
                                    <li id="field_1_2" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_1_2">
                                            Keep In Touch
                                        </label>
                                        <span v-show="errors.has('footer_email')" class="callout alert">{{ errors.first('footer_email') }}</span>
                                        <div class="ginput_container ginput_container_email">
                                            <input 
                                                v-model="footer_email" 
                                                v-validate="'required|email'" 
                                                :class="{'input': true, 'is-danger': errors.has('footer_email') }"
                                                name="footer_email" id="input_1_2" type="text" value="" class="medium" placeholder="Email" aria-invalid="false">
                                        </div>
                                    </li>
                                    <li id="field_1_3" class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_1_3">
                                            Comments
                                        </label>
                                        <div class="ginput_container">
                                            <input name="input_3" id="input_1_3" type="text" value="">
                                        </div>
                                        <div class="gfield_description">
                                            This field is for validation purposes and should be left unchanged.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="gform_footer top_label"> 
                                <button id="gform_submit_button_1" class="gform_button button">
                                    submit
                                </button>  
                            </div>
                        </form>
                    </div>
                    
                    
                    <ul class="social-link">
                            
                        <li v-for="social in social_links" :key="social.index">
                            <a :href="social.url" target="_blank" v-html="social.icon"></a>
                        </li>
    
                    </ul>
                </div>
            
            </div>

        </div>

        <div class="grid-container grid-container--misc">
            <div class="grid-x grid-margin-x">
            
                <div class="cell text-center">
                    <p>
                        nuxt / founatoin / V:1.0
                    </p>
                </div>

            </div>
        </div>

    </footer>
</template>

<style lang="scss" scoped>
    .callout {
        &.alert {
            margin: 0 0 12px;
            display: block;
        }
    }
</style>

<script>
    
    import API_CONFIG from '~/store/apiConfig.js' 
    import axios from 'axios'

    import Vue from 'vue';
    import VeeValidate from 'vee-validate';

    Vue.use(VeeValidate);

    // add this because inputs need to be kept the safe for WP 
    import { Validator } from 'vee-validate';
    const dictionary = {
        en: {
            attributes: {
                footer_email: 'Email Address',
            }
        },

    };
    Validator.localize(dictionary);

    export default {
        mounted(){
            this.getFooterMenu();
            this.getSocialLinks();
        },
        data(){
            return {
                footer_nav: [],
                footer_email: '',
                social_links: [],
                is_value: true
            }
        },
        methods: {
            getFooterMenu(){
                axios.get( API_CONFIG.baseUrl + 'wp-menus/v1/menus/footer')
                    .then((response) => {
                        
                        // console.log(response.data);
                        return this.footer_nav = response.data

                    })
                        .catch( error => { 
                            console.log(error); 
                        });
            },
            getSocialLinks(){
                axios.get( API_CONFIG.baseUrl + 'acf/v3/options/options/links_sm_global')
                    .then((response) => {
                        
                        // console.log(response.data.links_sm_global);
                        return this.social_links = response.data.links_sm_global

                    })
                        .catch( error => { 
                            console.log(error); 
                        });
            },
            validateBeforeSubmit($el){
                this.$validator.validateAll().then((result) => {
                    if (result) {
 
                        let self = this;
                        this.$axios.post('/keep-in-touch/',{
                            input_values : {
                                    input_2 : $el.target[0].value,
                                    input_3 : $el.target[1].value
                                }
                        })
                            .then(function (response) {
                                // console.log(response);
                                if(response.data.response.is_valid === false && response.data.response.validation_messages[1]){
                                    // console.log('balls');
                                    self.is_value = false;
                                    self.formResponse = response.data.response.validation_messages[1]
                                    // console.log('nothing');
                                } else if(response.data.response.validation_messages && response.data.response.is_valid === false){
                                    // a bot filled this honey pot out! NOOOOO!
                                    // thats ok though, this isn't going anywhere, doesn't hit the DB by default,
                                    // but fake confirm text anyways like sites normally do
                                    // console.log('bot');
                                    self.is_value = false;
                                    self.formResponse = 'Thanks for BOT! We will get in touch with you shortly.';
                                } else {
                                    self.is_value = true;
                                    document.getElementById('form_1_response').innerHTML += response.data.response.confirmation_message;
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        // alert('Form Submitted!');
                        return;
                    }

                    // alert('Correct them errors!');
                });

            }
        }
        
    }

</script>