.available-categories {
    margin: 0;
    li {
        list-style: none;
        margin-bottom: 15px;
        &:first-child {
            @extend %font-meta;
            margin-bottom: 30px;
        }
        a {
            @extend %font-headline-eyebrow;
            text-transform: uppercase;
            &:hover {
                color: $brand-brown-orange;
            }
            &.active,
            &.checked {
                color: $brand-brown-orange;
            }
        }
    }
}

#clear-all,
#more {
    @extend %font-headline-eyebrow;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
