.button {

    &--link {
        @extend %font-meta;
        background-color: transparent;
        margin-bottom: 0;
        &:hover,
        &:focus {
            background-color: transparent;
            text-decoration: underline;
            color: $black;    
        }
        &.is-checked {
            text-decoration: underline;
        }
    }

    &--filter {
        display: block;
        padding: 10px 0;
        margin-bottom: 5px;
        transition: opacity .25s ease-out, color .25s ease-out;
        &:hover {
            color: $brand-brown-orange;
            opacity: .7;
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
        &.active {
            color: $brand-brown-orange;
            opacity: .7;
        }
    }
}