.featured-post {

    &__cat {
        @extend %font-meta;
        &--spacing {
            margin-bottom: 30px;
            display: inline-block;
        }
    }

    &__title {
        @extend %font-h1;
        a {
            color: $black;
        }
    }

    &__link {
        @extend %font-meta;
        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }

    &--archive {
        @include show-for('medium');
        max-width: 1300px;
        .featured-post__img {
            padding: 0;
        }

        .featured-post__details {
            text-align: center;
            padding: 0 75px;
            @include breakpoint(xlarge){
                padding: 0 100px;
            }
            @include breakpoint(xxlarge){
                padding: 0 150px;
            }
        }
    }

    // home page
    &--top {
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        @include breakpoint(xlarge){
            margin-bottom: 150px;
        }
        .grid-container {
            max-width: 1300px;
        }
        .featured-post__details {
            text-align: center;
            padding: 0 75px;
            @include breakpoint(xlarge){
                padding: 0 120px;
            }
        }
        .featured-post__img {
            padding: 0;
            img {
                width: 100%;
            }
        }
        h2 {
            margin-bottom: 30px;
        }
    }

    &--second {
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        @include breakpoint(xlarge){
            margin-bottom: 150px;
        }
        .grid-container {
            max-width: 990px;
        }
    }

    &--third {
        background-color: $brand-beige;
        padding: 50px 0;
        margin-bottom: 50px;
        @include breakpoint(large){
            margin-bottom: 100px;
            padding: 125px 0;
        }
        @include breakpoint(xlarge){
            margin-bottom: 150px;
            padding: 150px 0;
        }
        .grid-container {
            max-width: 1300px;
        }
        .featured-post__img {
            padding: 0;
        }
        .featured-post__details {
            @include breakpoint(medium){
                padding: 0 30px;
            }
        }
        .featured-post__title {
            max-width: 390px;
        }
        .featured-post__link {
            @include breakpoint(medium){
                padding-left: 50%;
                margin-left: 10px;
            }
        }

        .featured-post__excerpt {
            column-count: 2;
            &:first-letter {
                @extend %font-h2;
            }
        }
    }

}