.featured-image {
    position: relative;

    &--single {
        overflow: hidden;
        height: 320px;
        margin-bottom: 30px;
        @include breakpoint(medium){
            height: 420px;
            margin-bottom: 50px;
        }
        @include breakpoint(large) {
            height: 545px;
            margin-bottom: 100px;
        }
        img {
            @include centerer;
            min-width: 768px;
            @include breakpoint(medium){
                min-width: 1040px;
            }
            @include breakpoint(large){
                min-width: 1920px;
            }
        }
    }
}