// Search form
.search-form {

}
.search-form label {
    font-weight: normal;
}
.search-form .search-field {
}
.search-form .search-submit {
    @extend .button;
}
form {
	.gform_validation_container {
		display: none;
	}
	
	.gfield_error {
		.validation_message {
			@extend .form-error;
			display: inherit;
			margin-top: 1rem;
		}
	}
	.gform_fields {
		margin-left: 0;
		.gfield {
			list-style: none;
			margin-bottom: rem-calc(30);
		}
	}

	.gform_body {
		input,
		textarea {
			//font-styling
			color: $black;
			border: 1px solid $black;
			box-shadow: none;
			margin-bottom: 0;
			background: none;
			height: auto;
			padding: rem-calc(15);
			@include placeholder {
				color: $black;
			}
		}
	}

	.gform_footer {
		text-align: center;
		.gform_button {
			//font-styling
			background: none;
			padding: 0;
			appearance:none;
			padding: 0.9375rem 3.75rem;
			&:hover {
				background:none;
			}
		}
	}

	.chosen-container-single {
		.chosen-single {
			//font-styling
			border: 1px solid $black;
			background: none;
			border-radius: 0;
		    padding: 8px 11px;
		    height: 41px;
		}
	}
	.chosen-container-multi {
		//font-styling
		.chosen-choices {
			color: $black;
			border: 1px solid $black;
			background: none;
			border-radius: 0;
		    padding: 8px 11px;
		    height: 41px;
		}
	}
}

/*#gform_confirmation_wrapper_1 {

}*/

body img.gform_ajax_spinner {
    display: none!important;
}

// footer newsletter
footer {
	.gform_wrapper {
		padding-bottom: 20px;
        .gfield_label {
            display: none;
        }
        .gform_title {
            @extend %font-h3;
			color: $black;
			margin-bottom: 0;
			text-transform: uppercase;
        }
        form {
            position: relative;
        }
        .gform_body {
            input {
                // @extend %font-meta-title;
				border: 1px solid $black !important;
				color: $black;
                background-color: transparent;
                border:none;
                font-size: 12px;
				letter-spacing: 1px;
				@include placeholder(){
					text-transform: uppercase;
				}
            }
        }
        .gform_footer {
            .gform_button {
				background: url(~assets/images/small-right-arrow.png) no-repeat center transparent;
				background-size: 15px;
                position: absolute;
                font-size: 0;
                bottom: 0;
                right: 0;
                height: 49px;
                width: 35px;
                padding: 0;
                margin: 0;
            }
        }
    }
}

#gform_wrapper_2 {
	.gform_title {
		@extend %font-h3;
		color: $black;
		margin-bottom: 30px;
	}
	#field_2_2,
	#field_2_3 {
		@include breakpoint(medium){
			width: calc(50% - 1.2rem);
			float: left;
		}
	}
	#field_2_3 {
		@include breakpoint(medium){
			float: right;
		}
	}
	#field_2_4 {
		clear: both;
		padding-top: 5px
	}
	.gform_body {
		label {
			display: none;
		}
		input {
			color: $black;
			background-color: transparent;
			border:none;
			font-size: 12px;
			letter-spacing: 1px;
			@include placeholder(){
				text-transform: uppercase;
			}
		}

		input,
		textarea {
			@extend %font-headline-eyebrow;
			background-color: $white !important;
			border: none !important;
			@include placeholder(){
				text-transform: uppercase;
			}
		}
		textarea {
			height: 135px;
		}
	}
	.gform_footer {
		position: relative;
		text-align: right;
		.gform_button {
			color: $black;
			background: url(~assets/images/small-right-arrow.png) no-repeat center transparent;
			background-size: 14px;
			background-position: right center;
			text-transform: uppercase;
			text-transform: uppercase;
			line-height: 2;
			padding-right: 22px;
			padding-top: 18px;
			margin: 0;
		}
	}
}

#gform_wrapper_3 {
	.gfield_label {
		display: none;
	}
	.gform_title {
		@extend %font-h1;
		color: $black;
		margin-bottom: 20px;
		max-width: 140px;
	}
	form {
		position: relative;
	}
	.gform_description {
		margin-bottom: 30px;
		display: block;
	}
	.gform_body {
		input {
			// @extend %font-meta-title;
			background-color: $white;
			color: $black;
			border:none;
			font-size: 12px;
			letter-spacing: 1px;
			@include placeholder(){
				text-transform: uppercase;
			}
		}
		li {
			margin: 0;
		}
	}
	.gform_footer {
		.gform_button {
			background: url(~assets/images/small-right-arrow.png) no-repeat center transparent;
			background-size: 15px;
			position: absolute;
			font-size: 0;
			bottom: 0;
			right: 0;
			height: 49px;
			width: 35px;
			padding: 0;
			margin: 0;
		}
	}
}

#gform_confirmation_wrapper_3,
#gform_confirmation_wrapper_2,
#gform_confirmation_wrapper_1,
#gform_confirmation_wrapper_4 {
	@extend .callout;
	@extend .success;
}

#gform_wrapper_4 {
	.gfield_label {
		display: none;
	}
	.gform_title {
		@extend %font-h1;
		color: $black;
		margin-bottom: 20px;
		max-width: 140px;
	}
	form {
		position: relative;
	}
	.gform_description {
		max-width: 455px;
		margin: 0 auto 30px;
		display: block;
	}
	.gform_body,
	.gform_footer {
		@include breakpoint(medium){
			position: relative;
			max-width: 300px;
			margin: 0 auto;
		}
	}
	.gform_body {
		input {
			// @extend %font-meta-title;
			background-color: $white;
			color: $black;
			border:none;
			font-size: 12px;
			letter-spacing: 1px;
			@include placeholder(){
				text-transform: uppercase;
			}
		}
		li {
			margin: 0;
		}
	}
	.gform_footer {
		.gform_button {
			background: url(~assets/images/small-right-arrow.png) no-repeat center transparent;
			background-size: 15px;
			position: absolute;
			font-size: 0;
			bottom: 0;
			right: 0;
			height: 49px;
			width: 35px;
			padding: 0;
			margin: 0;
			@include breakpoint(medium){
				bottom: 16px;
			}
		}
	}
}