.meta {

    &--single {
        width: 100%;
        margin-bottom: 50px;
        h1 {
            @extend %post-title;
            text-align: center;
            margin-bottom: 30px;
        }
        ul {
            margin: 0;
            text-align: center;
        }
        li {
            @extend %font-meta;
            list-style: none;
            display: inline-block;
        }
    }
}