.post-preview {
    position: relative;

    header {
        margin-bottom: 30px;
    }

    h2 {
        @extend %font-h3;
        margin: 0;
        a {
            color: $black;
        }
    }

    &__img-link {
        @extend .linked-img;
        margin-bottom: 25px;
        img {
            width: 100%;
        }
    }

    &__cat-title {
        @extend %font-meta;
        display: block;
    }
}