.reveal-overlay {
    /*background-color: rgba(179,191,182,.7);*/
    /*overflow: auto;*/
    /*position: absolute;*/
    @include breakpoint(medium) {
        /*position: absolute;*/
    }
    .reveal {
        /*background: $baige;*/
        text-align: center;
        padding: 50px;
        border:none;
        outline: none;
        
        @include breakpoint(medium) {
            width: 600px;
            /*position: fixed;*/
        }
        @include breakpoint(small only) {

        }
        .close-button {
            transition: color .45s ease-out;
            right: 25px;
            top: 20px;
            font-size: 20px;
            &:hover {
                /*color:$white;*/
            }
        }

        &--newsletter {
            background-color: $brand-brown-orange;
            @include breakpoint(xlarge){
                width: 650px
            }
            @include breakpoint(small only){
                height: 90vh;
                min-height: 90vh;
            }
            h2 {
                @extend %post-title;
            }
        }
    }

    .gform_confirmation_message {
        
    }
    h2 {

    }

    img {
		
    }
    p {
        
    }
}