.shop-preview {
    margin-bottom: 75px;
    transition: opacity .25s ease-out;
    &:nth-child(even){
        // right: 0;
        // left: auto !important;
        // transform: translate3d(0, 0px, 0px) !important;
        // transform: translateX(0) !important;
    }
    .owl-item {
        img {
            max-height: 100px;
            width: auto;
            margin: 0 auto;
        }
    }

    &__title {
        @extend %font-h1;
        text-align: center;
        padding: 30px 15px 0;
    }

    &__description {
        text-align: center;
        white-space: pre-line; 
        word-wrap: break-word;
    }

    &--reveal {
        opacity: 0;
    }

    .owl-nav {
        button {
            position: absolute;
            top: 32px;
            font-size: 30px;
        }

        .owl-prev {
            left: -15px;
        }
        .owl-next {
            right: -15px;
        }
    }
}

.shop-layout__basic-posts-container {
    .shop-preview {
        &:nth-child(2){
            margin-top: 75px;
        }
    }
}