.shopstyle-list-item {
    margin-bottom: 30px;
    &__inner {
        text-align: center;
        padding: 15px;
    }

    .linked-img {
        display: block;
        &:before {
            content:'Shop Item'
        }
    }
    img {
        max-height: 200px;
        height: auto;
    }
}