<template>
    <div id="archive-wrapper">

        <section class="archive-layout__intro archive-layout__intro--">

            <div class="grid-container">
                <div class="grid-x grid-padding-x featured-post featured-post--archive align-middle">

                    <div class="cell medium-6 featured-post__img">
                        <nuxt-link :to="'/posts/' + featuredPost.acf.featured_post[0].post_name" v-bind:title="featuredPost.post_title" id="featured-link" class="linked-img">
                            <img v-bind:src="featuredPost.acf.featured_post[0].acf.featured_post_image.url" alt="">
                        </nuxt-link>
                    </div>
                    
                    <div class="cell medium-6 featured-post__details">

                        <span class="featured-post__cat">
                            {{ featuredPost.name}}
                        </span>
                        <h2 id="featured-title">
                            <nuxt-link :to="'/posts/' + featuredPost.acf.featured_post[0].post_name">
                                {{ featuredPost.acf.featured_post[0].post_title}}
                            </nuxt-link>
                        </h2>

                        <p class="featured-post__excerpt">
                            {{ featuredPost.acf.featured_post[0].acf.preview_excerpt_copy}}
                        </p>
              
                        <nuxt-link :to="'/posts/' + featuredPost.acf.featured_post[0].post_name" v-bind:title="featuredPost.post_title" id="featured-link" class="featured-post__link" aria-labelledby="featured-title featured-link">
                            Read More >
                        </nuxt-link>
                    </div>

                </div>
            </div>

        </section>
        <section id="sticky-anchor" class="archive-layout__posts grid-container">

            <div class="grid-x grid-margin-x align-justify">

                <div class="cell medium-3 content-left" data-sticky-container data-js="">
                    <div id="sticky-sidebar" class="sticky" data-sticky data-margin-top="5" data-top-anchor="sticky-anchor:top" data-btm-anchor="sticky-anchor:bottom">
                        
                        <button v-for="catButton in categoryFilters" :key="catButton.id" 
                            class="button button--link button--filter"
                            :class="{ active: catButton.isClicked }"
                            @click="loadSearchData(catButton)"
                            ref="el"
                        >
                            {{ catButton.name }}
                        </button>

                        <button id="clear-all" v-on:click="clearAllData()">
                            X CLEAR FILTERS
                        </button>
                    </div>
                </div>

                <!-- {# content right #} -->
                <div class="cell medium-8 content-right">

                    <div id="latest-post-filter">
        

                        <div v-if="posts.length > 0" class="grid-x grid-margin-x medium-up-2" v-masonry transition-duration="0.4s" item-selector=".post-preview" horizontal-order="true">

                            <post-preview v-masonry-tile v-for="post in posts" :key="post.id" 
                                :title="post.title.rendered" 
                                :link="post.slug" 
                                :category="post.fixed_category.prime_cat_name" 
                                :excerpt="post.excerpt.rendered"
                                :imgUrl="post.acf.featured_image_acf.sizes['vue-preview']"
                            >
                            </post-preview>

                        </div>
                        <div v-else>
                            <h2>
                               Loading...
                            </h2>
                        </div>

                        <div v-if="wp_total > 1 && postsData.page !== wp_total" class="grid-x grid-margin-x">
                            <div class="cell text-center">
                                <button id="more" v-on:click="loadMoreData">
                                    load more
                                </button>
                            </div>
                        </div>
                    
                    </div>
                                
                    
                </div>
                <!-- {# end content right #} -->

            </div>

        </section>
    </div>
</template>


<script>

    import PostPreview from '~/components/posts/preview.vue'

    import Vue from 'vue'
    import axios from 'axios'
    import { mapState } from 'vuex'

    import imagesLoaded from 'imagesloaded';

    import API_CONFIG from '~/store/apiConfig.js'

    let pageSlug;

    if (process.browser) {
        var owlCarousel = require('owl.carousel');
        var VueMasonryPlugin = window["vue-masonry-plugin"].VueMasonryPlugin
        Vue.use(VueMasonryPlugin)

    }

    const BASE_POSTS_URL = API_CONFIG.baseUrl + API_CONFIG.basePostsUrl

    let categoriesArray = [],
        categorieString,
        pageNumber = 1;
    
    function rmh_remove(array, element) {
        const index = array.indexOf(element);
        array.splice(index, 1);
    }

    // includes polyfill for ie11
    if (!Array.prototype.includes) {
        Object.defineProperty(Array.prototype, 'includes', {
            value: function(searchElement, fromIndex) {

                if (this == null) {
                    throw new TypeError('"this" is null or not defined');
                }

                // 1. Let O be ? ToObject(this value).
                var o = Object(this);

                // 2. Let len be ? ToLength(? Get(O, "length")).
                var len = o.length >>> 0;

                // 3. If len is 0, return false.
                if (len === 0) {
                    return false;
                }

                // 4. Let n be ? ToInteger(fromIndex).
                //    (If fromIndex is undefined, this step produces the value 0.)
                var n = fromIndex | 0;

                // 5. If n ≥ 0, then
                //  a. Let k be n.
                // 6. Else n < 0,
                //  a. Let k be len + n.
                //  b. If k < 0, let k be 0.
                var k = Math.max(n >= 0 ? n : len - Math.abs(n), 0);

                function sameValueZero(x, y) {
                    return x === y || (typeof x === 'number' && typeof y === 'number' && isNaN(x) && isNaN(y));
                }

                // 7. Repeat, while k < len
                while (k < len) {
                    // a. Let elementK be the result of ? Get(O, ! ToString(k)).
                    // b. If SameValueZero(searchElement, elementK) is true, return true.
                    if (sameValueZero(o[k], searchElement)) {
                    return true;
                    }
                    // c. Increase k by 1. 
                    k++;
                }

                // 8. Return false
                return false;
            }
        });
    }

    export default {
        beforeCreate() {
            categorieString = this.$route.params.slug
            // console.log(pageSlug);
        },
        beforeMount() {
            this.getCategory();
            this.getPosts();
            this.mainClassChange();
            
        },
        mounted(){
        
            this.sticky = new Foundation.Sticky($('#sticky-sidebar'));
            this.sticky = new Foundation.Sticky($('#sticky-header'), {
                // These options can be declarative using the data attributes
                marginTop:0
            });

        },
        updated() {

            this.$redrawVueMasonry();
            this.sticky = new Foundation.Sticky($('#sticky-sidebar'));

        },
        data(){
            return {
                featuredPost: [],
                categoryFilters: [],
                categoryID: '',
                posts: [],
                postsData: {
                    'per_page': 4,
                    'page': 1,
                    'filter[orderby]': 'menu_order',
                    'filter[order]': 'ASC',
                    'filter[category_name]': categorieString,
                },
                wp_total: 0,
                isClicked: false
            }
        },
        computed: mapState([
			'mainClass'
        ]),
        asyncData(context) {
            let filterData,
                CAT_STORE_DATA;

                // console.log(context.app.store.state);
         
            // console.log(context.app.store.state.shop_styles);
            if (context.params.slug === 'endlessly-nyc') {
                CAT_STORE_DATA = context.app.store.state.cat_nyc

                if (CAT_STORE_DATA.length > 0){
                    return {
                        featuredPost : CAT_STORE_DATA[0],
                        categoryID: CAT_STORE_DATA[0].id
                    }
                    // console.log('full store ny');
                } else {
                    // console.log('empty store ny');
                    return context.app.$axios.$get( API_CONFIG.baseUrl + 'wp/v2/categories?slug=' + context.params.slug)
                        .then(data => {
                            // console.log(CAT_STORE_DATA);
                            CAT_STORE_DATA.push(data[0])
                            return {
                                featuredPost : data[0],
                                categoryID: data[0].id
                            }
    
    
                    }).catch(e => {
                        console.log(e);
                    })
                }
            } else {
                CAT_STORE_DATA = context.app.store.state.cat_wander
                if (CAT_STORE_DATA.length > 0){
                    // console.log(CAT_STORE_DATA);
                    return {
                        featuredPost : CAT_STORE_DATA[0],
                        categoryID: CAT_STORE_DATA[0].id
                    }
                    // console.log('full store wonder');
                } else {
                    return context.app.$axios.$get( API_CONFIG.baseUrl + 'wp/v2/categories?slug=' + context.params.slug)
                        .then(data => {
                            // console.log(CAT_STORE_DATA);
                            CAT_STORE_DATA.push(data[0])
                            return {
                                featuredPost : data[0],
                                categoryID: data[0].id
                            }
    
    
                    }).catch(e => {
                        console.log(e);
                    })
                    // console.log('empty store wonder');
                }
            }
            

            

        },
        methods: {
            getCategory(){
                axios.get( API_CONFIG.baseUrl + 'wp/v2/categories?parent='+ this.categoryID)
                    .then((response) => {
                        // console.log(response);
                        this.categoryFilters = response.data;
                    })
                        .catch( error => { 
                            console.log(error); 
                        });
            },
            getPosts(categorieString){
                let unReplacedData = this.postsData;

                axios.get(BASE_POSTS_URL, {params: unReplacedData})
                    .then((response) => {
                        this.wp_total = parseInt(response.headers['x-wp-totalpages']);
                        this.posts = response.data;

                    })
                        .catch( error => { 
                            console.log(error); 
                        });

            },
            loadMoreData(){
                let self = this,
                    currentNumber = this.postsData.page;

                this.postsData.page = currentNumber + 1;

                axios.get(BASE_POSTS_URL, {params: this.postsData})
                    .then((response) => {
                        // console.log(response);
                        for (let index = 0; index < response.data.length; index++) {
                            const element = response.data[index];
                            self.posts.push(element)
                        }
                        // Foundation.reInit('sticky');
                    })
                        .catch( error => { 
                            console.log(error); 
                        });
            },
            loadSearchData(catButton){
                // variables set because method and data is accessed inside
                // a seperate function
                // alert(event.currentTarget.class);
                catButton.isClicked = !catButton.isClicked
                const value = catButton.slug

                let self = this;
                if(categoriesArray.includes(value)){
                    rmh_remove(categoriesArray, value);
                } else {
                    categoriesArray.push(value);
                }
                self.postsData.page = 1;
                categorieString = (categoriesArray.length > 0) ? categoriesArray.join('+') : self.$route.params.slug ;
                self.postsData['filter[category_name]'] = categorieString;
                self.getPosts();    
            },
            clearAllData(){
                // this.$refs.el.isClicked = false
                this.categoryFilters.forEach(it=>it.isClicked = false)
                this.postsData.page = 1;
                this.postsData['filter[category_name]'] = this.$route.params.slug;
                categorieString = this.$route.params.slug;
                categoriesArray = [];
                this.getPosts();

                // alert(this.isClicked)
            },
			mainClassChange() {
				this.$store.state.mainClass = 'archive-layout'
            }
            
        },
        components: {
            PostPreview
		}
    };
</script>