<template>
    <header class="header header--main" data-sticky-container>

        <div id="sticky-header" class="header__sticking scrollhide-nav" data-sticky data-options="marginTop:0;">

            <div class="grid-container">

                <div class="grid-x grid-marign-x home-logo top-logo">
                    <div class="header__top-bar-left cell shrink">
                        <ul class="menu header__menu">
                            <li class="home">
                                <nuxt-link :to="{ path: '/' }">
                                    <img class="header__logo" src="~assets/images/big-logo.png" alt="">
                                </nuxt-link>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="header__title-bar grid-x grid-margin-x hide-for-large" data-responsive-toggle="top-menu" data-hide-for="large">

                    <div class="cell small-3">
                        <button id="canvas-toggle" class="menu-icon" type="button" data-toggle="offCanvasLeftOverlap"></button>
                        <!-- <button type="button" class="button" data-toggle="offCanvasLeftOverlap">Open off-canvas</button> -->
                    </div>

                    <!-- <div class="cell small-6 text-center">
                        <nuxt-link :to="{ path: '/' }">
                            <img class="header__logo" src="~assets/images/big-logo.png" alt="">
                        </nuxt-link>
                    </div> -->
                </div>

                <div class="header__top-bar grid-x grid-margin-x align-justify align-middle" id="top-menu">
                    <!-- nav logo desktop -->
                    <div class="header__top-bar-left cell shrink">
                        <ul class="menu header__menu">
                            <li class="home">
                                <nuxt-link :to="{ path: '/' }">
                                    <img class="header__logo scroll-logo" src="~assets/images/atlas-logo.png" alt="">
                                </nuxt-link>
                            </li>
                        </ul>
                    </div>
                    <!-- nav -->
                    
                    <div class="header__top-bar-right cell medium-shrink">
                        <!-- data-dropdown-menu -->
                        <navigation-links></navigation-links>
                        
                    </div>
                    
                </div>
            </div>

        </div>

    </header>
</template>

<script>

    import NavigationLinks from './navigation-links.vue'

    function initHeader(){
        $('.header--main').on('sticky.zf.stuckto:top',function(){
            // console.log('yes');
            setTimeout(() => {
                $('.scroll-logo').addClass('showing');
            }, 1000);
        }).on('sticky.zf.unstuckfrom:top',function(){
            // console.log('not');
            $('.scroll-logo').removeClass('showing');
        });

        var prev = 10;
        var $window = $(window);
        var nav = $('.scrollhide-nav');

        $window.on('scroll', function(){
        var scrollTop = $window.scrollTop();
            nav.toggleClass('hidden', scrollTop > prev);
            prev = scrollTop;
            // console.log(prev)
        });

        $('.menu-icon').on('click',function(){
            $('#offCanvasLeftOverlap').foundation('open');

        });
        let $mobileCloseButton = $('[data-js="canvas-close"]'),
            $canvasOverlap = $('#offCanvasLeftOverlap');

        $mobileCloseButton.on('click',function(){
            $canvasOverlap.foundation('close');
        });
    }
    

	export default {
        mounted() { 
            Foundation.addToJquery($)
            
            this.sticky = new Foundation.Sticky($('#sticky-header'), {
                // These options can be declarative using the data attributes
                marginTop:0
            });
            initHeader();

            this.offCanvas = new Foundation.OffCanvas($('#offCanvasLeftOverlap'), {
           
            });
            // var $toggler = new Foundation.Toggler($('#canvas-toggle'), {});
            
		},
        components: {
            NavigationLinks
        }
	
	}
</script>