<template>
    <ul class="header__dropdown-menu">

        <li>
            <nuxt-link :to="'/about'" router-link-active>
                <span>
                    About
                </span>
            </nuxt-link>
            
        </li>
        <li>
            <nuxt-link :to="'/category/endlessly-nyc'" router-link-active>
                <span>
                    Endlessly NYC
                </span>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link :to="'/category/wanderluxe'" router-link-active>
                <span>
                    Wanderluxe
                </span>
            </nuxt-link>
        </li>
        <li>
            <nuxt-link :to="'/shop-my-instagram-collection'" router-link-active>
                <span>
                    Shop
                </span>
            </nuxt-link>
            
        </li>

    </ul>
</template>
