<template>

    <div>
        
        <!-- make sub component -->
        <section class="featured-image featured-image--single">
            <img v-bind:src="post.acf.featured_image_acf.url" alt="">
        </section>

        <article class="grid-container">

            <div class="grid-x grid-margin-x single-layout__grid">

                <div class="cell content-left" data-sticky-container>
                    <div id="sticky-sidebar" class="sticky" data-sticky data-margin-top="5" data-top-anchor="sticky-anchor:top" data-btm-anchor="sticky-anchor:bottom">
                        <pre>
                        todo: catgegories by category id,
                        // api has the option to get subs by parent ID
                        </pre>
                    </div>
                </div>

                <div id="sticky-anchor" class="cell content-right">

                    <div class="grid-x grid-margin-x">
                        
                        <!-- make sub component -->
                        <div class="meta meta--single">

                            <h1 v-html="post.title.rendered"></h1>

                            <ul class="categories">
                                <li>
                                    {{ post.fixed_category.prime_cat_name }}
                                </li>
                            </ul>


                        </div>
                        
                        <content-blocks v-for="(contentType, index) in post.acf.content_blocks" 
                            :key="index" 
                            :contentType ="contentType"
                        ></content-blocks>
                        <!-- make sub components -->
                        

                    </div>
                  
                </div>
              

            </div>

        </article>

        <prev-next :paginate="post.prev_next"></prev-next>

        <section class="single-layout__title-block single-layout__title-block--related grid-container">

            <h2 class="section-title">
                Popular Posts
            </h2>

            <div class="grid-x grid-margin-x medium-up-3">

                <post-preview v-for="post in popularPostsData" :key="post.id" 
                    :title="post.title.rendered" 
                    :link="post.slug" 
                    :category="post.fixed_category.prime_cat_name" 
                    :excerpt="post.excerpt.rendered"
                    :imgUrl="post.acf.featured_image_acf.sizes['vue-preview']"
                >
                </post-preview>

            </div>

        </section>

    </div>

</template>


<script>

    import ContentBlocks from '~/components/posts/acf.vue'
    import PrevNext from '~/components/posts/prev-next.vue'
    import PostPreview from '~/components/posts/preview.vue'
    import { mapState } from 'vuex'

    import API_CONFIG from '~/store/apiConfig.js'

    export default {
        props: [
            'contentType',
            'paginate',
        ],
        mounted(){
            this.mainClassChange();
            this.sticky = new Foundation.Sticky($('#sticky-sidebar'));
            this.sticky = new Foundation.Sticky($('#sticky-header'), {
                // These options can be declarative using the data attributes
                marginTop:0
            });

            this.sendPageView();

            this.setPopularPosts();

            // console.log(this.post.prev_next);
        },
        updated() {
            // console.log(this.postID);
        },
        beforeDestroy() {
            
        },
        head () {
			return {
				title: this.metaTitle,
				meta: [
					{ hid: 'description', name: 'description', content: this.metaDescription },
					{ hid: 'og:title', name: 'og:title', content: this.metaTitle, },
					{ hid: 'og:description', name: 'og:description', content: this.post.excerpt.rendered },
                    { property: 'og:type', content: 'object' },
                    { property: 'og:image', content: this.post.acf.featured_image_acf.url },
                ]
			}
		},
        asyncData(context) {
            return context.app.$axios.$get(API_CONFIG.baseUrl + 'wp/v2/posts?slug=' + context.params.slug)
                .then(data => {

                    // console.log(data[0]);
                    // $.get( "https://websiteurl.com/wp-json/base/views/" + data[0].id);
                    return {
                        post: data[0],
                        metaTitle: data[0].yoast_meta.yoast_wpseo_title,
                        metaDescription: data[0].yoast_meta.yoast_wpseo_metadesc,
                        postID: data[0].id
                    }
                }).catch(e => {
                    console.log(e);
                })
        },
        data(){
            return {
                post: [],
                metaTitle: '',
                metaDescription: '',
                postID: '',
                popularPostsData: ''
            }
        },
        computed: mapState([
			'mainClass'
        ]),
        methods: {
			mainClassChange() {
				this.$store.state.mainClass = 'single-layout'
            },
            sendPageView(){
                // with each ppost you are increasing that posts view count
                // this then updates the popular posts call you made!
                // you can also see this update in the admin, its amazing
                $.get( API_CONFIG.baseUrl + "post-views-counter/view-post?id=" + this.postID)
            },
            setPopularPosts(){
                this.popularPostsData = this.$store.state.popularPosts
            }
            
        },
        components: {
            ContentBlocks,
            PrevNext,
            PostPreview
		}
    };
</script>
