//fonts go here
@font-face {
    font-family: 'Didot';
    src: url('~assets/fonts/Didot.eot');
    src: url('~assets/fonts/Didot.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Didot.woff2') format('woff2'),
        url('~assets/fonts/Didot.woff') format('woff'),
        url('~assets/fonts/Didot.ttf') format('truetype'),
        url('~assets/fonts/Didot.svg#Didot') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('~assets/fonts/AvenirNext-Regular.eot');
    src: url('~assets/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('~assets/fonts/AvenirNext-Regular.woff') format('woff'),
        url('~assets/fonts/AvenirNext-Regular.ttf') format('truetype'),
        url('~assets/fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~assets/fonts/Montserrat-Regular.eot');
    src: url('~assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('~assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('~assets/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('~assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat B';
    src: url('~assets/fonts/Montserrat-Bold.eot');
    src: url('~assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('~assets/fonts/Montserrat-Bold.woff') format('woff'),
        url('~assets/fonts/Montserrat-Bold.ttf') format('truetype'),
        url('~assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat M';
    src: url('~assets/fonts/Montserrat-Medium.eot');
    src: url('~assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('~assets/fonts/Montserrat-Medium.woff') format('woff'),
        url('~assets/fonts/Montserrat-Medium.ttf') format('truetype'),
        url('~assets/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('~assets/fonts/MinionPro-Regular.eot');
    src: url('~assets/fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/MinionPro-Regular.woff2') format('woff2'),
        url('~assets/fonts/MinionPro-Regular.woff') format('woff'),
        url('~assets/fonts/MinionPro-Regular.ttf') format('truetype'),
        url('~assets/fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin DIDOT {
    font-family: 'Didot';
    font-weight: normal;
    font-style: normal;
}

@mixin MONTSERRAT_R {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
}

@mixin MONTSERRAT_B {
    font-family: 'Montserrat B';
    font-weight: bold;
    font-style: normal;
}

@mixin AVENIR_NEXT_R {
    font-family: 'Avenir Next';
    font-weight: normal;
    font-style: normal;
}

%font-nav {
    @include DIDOT;
    color: $black;
    font-size: rem-calc(17);
    letter-spacing: rem-calc(-.25);
}

// also body link
%font-headline-eyebrow {
    @include MONTSERRAT_R;
    color: $black;
    font-size: rem-calc(10);
    letter-spacing: rem-calc(.5);
}

%post-title {
    @include DIDOT;
    color: $black;
    font-size: rem-calc(60);
    letter-spacing: rem-calc(-.25);
    line-height: 71px;
}

%font-h1 {
    @include DIDOT;
    color: $black;
    font-size: rem-calc(32);
    letter-spacing: rem-calc(-.25);
    line-height: 45px;
}

%font-h2 {
    @include DIDOT;
    color: $black;
    font-size: rem-calc(27);
    letter-spacing: rem-calc(-.25);
}

%font-h3 {
    @include DIDOT;
    color: $black;
    font-size: rem-calc(23);
    letter-spacing: rem-calc(-.25);
}

%font-meta {
    @include MONTSERRAT_B;
    color: $black;
    font-size: rem-calc(10);
    text-transform: uppercase;
}

%font-body {
    @include AVENIR_NEXT_R;
    color: $black;
    font-size: rem-calc(15);
    letter-spacing: rem-calc( -.5);
    line-height: 28px;
}

body {
    @extend %font-body;
    p {
        @extend %font-body;
    }
}