// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-beige: #fbf7ee;
$brand-brown-orange: #ebd1b9;
$light-grey: #eadfd6;
$light-peach: #f8f2e7;
$black: #000;