<template>
    
    <div id="page-container">
        <!-- intro -->
        <section class="about-layout__intro grid-container">

            <div class="grid-x grid-margin-x text-center">
                <div class="page-header cell">
                    <h1>
                        {{ page.title.rendered }}
                    </h1>
                </div>
                       
            </div>

        </section>

        <!-- top content -->
        <section class="about-layout__content-top grid-container">

            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <h2>
                       {{ page.acf.text_intro }}
                    </h2>
                </div>
            </div>

            <div class="grid-x grid-margin-x align-middle images">
                <div class="cell medium-6 large-7">
                    <img v-bind:src="page.acf.image_left" alt="">
                </div>
                <div class="cell medium-6 large-7">
                    <img v-bind:src="page.acf.image_right" alt="">
                </div>
            </div>

        </section>

        <section class="about-layout__content-bottom grid-container align-middle">

            <div class="grid-x grid-margin-x align-middle copy">
                <div class="cell large-6" v-html="page.acf.copy">
                  
                    <!-- <img class="signature" src="{{ theme.link }}/public/images/signature.png" alt=""> -->
                </div>
                <div class="cell medium-6 large-6">
                    <!-- <img class="graphic" src="{{ theme.link }}/public/images/about-graphic.png" alt=""> -->
                    <img v-bind:src="page.acf.image_right_bottom" alt="">
                </div>
            </div>

        </section>

        <section class="about-layout__contact grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_2">

                        <form id="gform_2" @submit.prevent="validateBeforeSubmit">
                            <div class="gform_heading">
                                <h3 class="gform_title">Contact</h3>
                            </div>
                            <div id="form_2_response">
                                
                                <div v-if="is_value === false" class="callout alert">
                                    {{ formResponse }}
                                </div>
                                
                            </div>
                            <div class="gform_body">
                                <ul id="gform_fields_2" class="gform_fields top_label form_sublabel_below description_below">
                                    <li id="field_2_2" class="gfield gf_left_half field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_2_2">
                                            Name
                                        </label>
                                        <div class="ginput_container ginput_container_text">
                                            <input 
                                                :class="{ 'form-control': true, 'is-danger': errors.has('input_2') }" 
                                                v-model="input_2" 
                                                v-validate="'required|alpha_spaces'"
                                                name="input_2" id="input_2_2" type="text" value="" placeholder="Name" aria-invalid="false">
                                        </div>
                                        <span v-show="errors.has('input_2')" class="callout alert">{{ errors.first('input_2') }}</span>
                                    </li>
                                    <li id="field_2_3" class="gfield gf_right_half field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_2_3">
                                            Email
                                        </label>
                                        <div class="ginput_container ginput_container_email">
                                            <input 
                                                v-model="input_3" 
                                                v-validate="'required|email'" 
                                                :class="{'input': true, 'is-danger': errors.has('input_3') }"
                                                name="input_3" id="input_2_3" type="text" value="" placeholder="Email" aria-invalid="false">
                                             <span v-show="errors.has('input_3')" class="callout alert">{{ errors.first('input_3') }}</span>
                                        </div>
                                    </li>
                                    <li id="field_2_4" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_2_4">
                                            Message
                                        </label>
                                        <div class="ginput_container ginput_container_textarea">
                                            <textarea 
                                                v-model="input_4" 
                                                v-validate="'required|max:250'"
                                                :class="{'textarea': true, 'is-danger': errors.has('input_4') }"
                                                name="input_4" id="input_2_4" class="textarea medium" placeholder="Message" aria-invalid="false" rows="10" cols="50"></textarea>
                                            <span v-show="errors.has('input_4')" class="callout alert">{{ errors.first('input_4') }}</span>
                                        </div>
                                    </li>
                                    <li id="field_2_5" class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_2_5">
                                            Email
                                        </label>
                                        <div class="ginput_container">
                                            <input name="input_5" id="input_2_5" type="text" value="">
                                        </div>
                                        <div class="gfield_description">
                                            This field is for validation purposes and should be left unchanged.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="gform_footer top_label">
                                <button id="gform_submit_button_3" class="gform_button button">
                                    submit
                                </button>  
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>

    </div>

</template>

<style lang="scss" scoped>
    .callout {
        &.alert {
            margin: 12px 0 0;
            display: block;
        }
    }
</style>


<script>

    import API_CONFIG from '~/store/apiConfig.js'

    import Vue from 'vue';
    import VeeValidate from 'vee-validate';

    Vue.use(VeeValidate);

    // add this because inputs need to be kept the safe for WP 
    import { Validator } from 'vee-validate';
    const dictionary = {
        en: {
            attributes: {
                input_2: 'Name',
                input_3: 'Email Address',
                input_4: 'Message'
            }
        },

    };

    Validator.localize(dictionary);

    export default {
        mounted() {
            this.mainClassChange();
            this.pageTemplateChange();
        },
        data(){
            return {
                page: [],
                formResponse: '',
                is_value: true,
                input_3: '',
                input_2: '',
                input_4: ''
            }
        },
        updated() {

        },
        destroyed() {
            this.$store.state.pageTemplate = ''
        },
        asyncData(context) {

            let ABOUT_STORE_DATA = context.app.store.state.about_page;

            if (ABOUT_STORE_DATA.length > 0){
                // console.log('store');
                return {
                    page: ABOUT_STORE_DATA[0]
                }

            } else {
                // console.log('not store');
                return context.app.$axios.$get(API_CONFIG.baseUrl + 'wp/v2/pages?slug=about-kaya-hall')
                    .then(data => {
    
                        ABOUT_STORE_DATA.push(data[0])
                        return {
                            page: data[0],
                        }
                    }).catch(e => {
                        console.log(e);
                    })
            }

        },
        head () {
            return {
                title: this.page.title.rendered,
                meta: [
                    { hid: 'og:url', property: 'og:url', content: this.$route.fullPath},
                    { hid: 'og:description', property: 'og:description', content:  this.page.acf.text_intro},
                    { hid: 'og:title', property: 'og:title', content: this.page.title.rendered + ' | About Page'},
                    { property: 'og:type', content: 'object' },
                    { property: 'og:image', content: this.page.acf.image_right },

                ]
            }
        },
        // async asyncData({ query, error }) {

		// 	let pageRes = axios.get('wp/v2/pages?slug=about-kaya-hall');
        //     console.log(pageRes);
        //     return {
        //     }
		// },
        methods: {
            mainClassChange() {
				this.$store.state.mainClass = 'about-layout'
            },
            pageTemplateChange(){
                this.$store.state.pageTemplate = 'page-template-tmpl-shop-style'
            },
            validateBeforeSubmit($el){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                    // eslint-disable-next-line
                        let self = this;
                            // console.log($el)
                        this.$axios.post('/contact-us/',{
                            input_values : {
                                    input_2 : $el.target[0].value, //name
                                    input_3 : $el.target[1].value, // email
                                    input_4:  $el.target[2].value, // text area
                                    input_5: $el.target[3].value, // honey post
                                }
                        })
                            .then(function (response) {
                                // console.log(response);
                                if(response.data.response.is_valid === false && response.data.response.validation_messages[1]){
                                    // console.log('balls');
                                    self.is_value = false;
                                    self.formResponse = response.data.response.validation_messages[1]
                                    // console.log('nothing');
                                } else if(response.data.response.validation_messages && response.data.response.is_valid === false){
                                    // a bot filled this honey pot out!
                                    self.is_value = false;
                                    self.formResponse = 'Thanks for BOT! We will get in touch with you shortly.';
                                } else {
                                    self.is_value = true;
                                    document.getElementById('form_2_response').innerHTML += response.data.response.confirmation_message;
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        // alert('Form Submitted!');
                        return;
                    }

                    // alert('Correct them errors!');
                });
            }
        }
    }

</script>