<template>
	<section v-if="!loading" class="container">
		
		<top-post :loadedTopData="loadedTopPost" name="TopPost"></top-post>

		<second-post :loadedSecondData="loadedSecondPost" name="SecondPost"></second-post>

		<latest-posts :postsData="latestPosts"></latest-posts>

		<third-post :loadedThirdData="loadedThirdPost" name="SecondPost"></third-post>

		<offset-posts :postsData="latestPostsOffset"></offset-posts>

	</section>
</template>

<script>
	import Logo from '~/components/Logo.vue'
	import TopPost from '~/components/home/top-post.vue'
	import SecondPost from '~/components/home/second-post.vue'
	import LatestPosts from '~/components/home/latest-posts.vue'
	import ThirdPost from '~/components/home/third-post.vue'
	import OffsetPosts from '~/components/home/offset-posts.vue'

	import axios from 'axios'
	
	import { mapState } from 'vuex'

	import API_CONFIG from '~/store/apiConfig.js'

	let USER_SET_ACF = ''

	export default {
		beforeCreate(){
			// console.log('alive?');
			USER_SET_ACF = this.$store.state.homePageAcf;

		},
		created(){
			// console.log();
		},
		beforeMount() {
			
		},
		mounted(){
			this.mainClassChange();
		},
		data(){
            return {
				setClass: '',
				loading: false,
				loadedTopPost: [],
				loadedSecondPost: [],
				loadedThirdPost: [],
				latestPosts: [],
				latestPostsOffset: [],
				metaTitle: '',
				metaDescription: ''
            }
		},
		head () {
			return {
				title: this.metaTitle,
				meta: [
					{ hid: 'description', name: 'description', content: this.metaDescription },
					{ hid: 'og:title', name: 'og:title', content: 'Different FB Titlte' },
					{ hid: 'og:description', name: 'og:description', content: 'lots of different descriptions testing' }
				]
			}
		},
		computed: mapState([
			'mainClass'
		]),
		async asyncData(context) {

			// console.log(context.app.store.state.home_top_three);
			// console.log(context.app.store.state.home_first_nine);
			
			let PAGE_DATA = context.app.store.state.home_top_three,
				RECENT_DATA = context.app.store.state.home_first_nine;

				if (PAGE_DATA.length && RECENT_DATA.length > 0){

					// console.log(PAGE_DATA[0]);
					// console.log(RECENT_DATA);
					// console.log('store');

					return {
							metaTitle: PAGE_DATA[0].yoast_meta.yoast_wpseo_title,
							metaDescription: PAGE_DATA[0].yoast_meta.yoast_wpseo_metadesc,
							loadedTopPost: {
								imgUrl: PAGE_DATA[0].acf.featured_post_top[0].acf.featured_post_image.url,
								title: PAGE_DATA[0].acf.featured_post_top[0].post_title,
								excerpt: PAGE_DATA[0].acf.featured_post_top[0].acf.preview_excerpt_copy,
								slug: PAGE_DATA[0].acf.featured_post_top[0].post_name
							},
							loadedSecondPost: {
								imgUrl: PAGE_DATA[0].acf.featured_post_second[0].acf.featured_post_image.url,
								title: PAGE_DATA[0].acf.featured_post_second[0].post_title,
								excerpt: PAGE_DATA[0].acf.featured_post_second[0].acf.preview_excerpt_copy,
								slug: PAGE_DATA[0].acf.featured_post_second[0].post_name
							},
							loadedThirdPost: {
								imgUrl: PAGE_DATA[0].acf.featured_post_third[0].acf.featured_post_image.url,
								title: PAGE_DATA[0].acf.featured_post_third[0].post_title,
								excerpt: PAGE_DATA[0].acf.featured_post_third[0].acf.preview_excerpt_copy,
								slug: PAGE_DATA[0].acf.featured_post_third[0].post_name
							},
							latestPosts: {
								0: RECENT_DATA[0][0],
								1: RECENT_DATA[0][1],
								2: RECENT_DATA[0][2],
								3: RECENT_DATA[0][3],
								4: RECENT_DATA[0][4]
							},
							latestPostsOffset: {
								0: RECENT_DATA[0][5],
								1: RECENT_DATA[0][6],
								2: RECENT_DATA[0][7],
								3: RECENT_DATA[0][8],
							}
						}
                   
                } else {

					// console.log('not store');
                    let [pageRes, postsRes] = await Promise.all([
						axios.get( API_CONFIG.baseUrl + 'wp/v2/pages/9'),
							// axios.get( API_CONFIG.baseUrl + 'acf/v3/pages/9'),
							axios.get( API_CONFIG.baseUrl + 'wp/v2/posts?per_page=9&filter[orderby]=menu_order&filter[order]=ASC'),
						]);

						PAGE_DATA.push(pageRes.data);
						RECENT_DATA.push(postsRes.data);

						return {
							metaTitle: pageRes.data.yoast_meta.yoast_wpseo_title,
							metaDescription: pageRes.data.yoast_meta.yoast_wpseo_metadesc,
							loadedTopPost: {
								imgUrl: pageRes.data.acf.featured_post_top[0].acf.featured_post_image.url,
								title: pageRes.data.acf.featured_post_top[0].post_title,
								excerpt: pageRes.data.acf.featured_post_top[0].acf.preview_excerpt_copy,
								slug: pageRes.data.acf.featured_post_top[0].post_name
							},
							loadedSecondPost: {
								imgUrl: pageRes.data.acf.featured_post_second[0].acf.featured_post_image.url,
								title: pageRes.data.acf.featured_post_second[0].post_title,
								excerpt: pageRes.data.acf.featured_post_second[0].acf.preview_excerpt_copy,
								slug: pageRes.data.acf.featured_post_second[0].post_name
							},
							loadedThirdPost: {
								imgUrl: pageRes.data.acf.featured_post_third[0].acf.featured_post_image.url,
								title: pageRes.data.acf.featured_post_third[0].post_title,
								excerpt: pageRes.data.acf.featured_post_third[0].acf.preview_excerpt_copy,
								slug: pageRes.data.acf.featured_post_third[0].post_name
							},
							latestPosts: {
								0: postsRes.data[0],
								1: postsRes.data[1],
								2: postsRes.data[2],
								3: postsRes.data[3],
								4: postsRes.data[4]
							},
							latestPostsOffset: {
								0: postsRes.data[5],
								1: postsRes.data[6],
								2: postsRes.data[7],
								3: postsRes.data[8],
							}
						}
                }

		},
		components: {
			TopPost,
			SecondPost,
			LatestPosts,
			ThirdPost,
			OffsetPosts
		},
		methods: {
			mainClassChange() {
				this.$store.state.mainClass = 'home-layout'
			}
		}
	}
</script>

<style>

</style>
