<template>
    <div id="outer-wrapper" v-if="posts">
        
        <section class="shop-layout__intro grid-container">
            <div class="grid-x grid-margin-x text-center">

                <div class="page-header cell">
                    <h1>Insta Looks</h1>
                </div>
                            
            </div>
        </section>

        <section class="shop-layout__basic-posts-container grid-container">

            <div id="insta-looks-vue" class="grid-x grid-margin-x align-justify" v-masonry transition-duration="0.4s" item-selector=".shop-preview" gutter=".grid-sizer" horizontal-order="true">

                <div class="shop-preview shop-preview--reveal cell large-5" v-for="item in posts" :key="item.id">

                    <div class="shop-preview__block">
                        <span class="shop-preview__img">
                            <img :src="item['images'][0]['sizes']['Large']['url']" :alt="item['title']">
                        </span>
                        
                        <h2 class="shop-preview__title">

                            {{ item.title }}
                    
                        </h2>

                        <p class="shop-preview__description">{{ item['taggedDescription']['message']}}</p>

                    </div>

                    <div class="owl-carousel owl-theme owl-carousel--preview">

                        <div v-for="PRODUCT in item['products']" :key="PRODUCT['clickUrl']">
                            <a :href="PRODUCT['clickUrl']" target="_bank">
                                <img 
                                    :src="PRODUCT['image']['sizes']['Large']['url']" 
                                    :alt="PRODUCT['name']" 
                                >
                            </a>
                        </div>
                        
                    </div>


                </div>
            
                <div class="grid-sizer cell small-2"></div>
            </div>


        </section>

        <section id="view-more-content">
            <button id="load-more" class="button-types">
                View More
            </button>
        </section>

    </div>
    <div v-else>
        Loading loading loading
    </div>
</template>

<style scoped lang="scss">
    #load-more {
        cursor: pointer;
    }
    .shop-layout__basic-posts-container {
        min-height: 900px;
    }

</style>

<script>

    import Vue from 'vue'
    import axios from 'axios';
    // import 'owl.carousel';
    import API_CONFIG from '~/store/apiConfig.js'

    import imagesLoaded from 'imagesloaded';

    if (process.browser) {
        var owlCarousel = require('owl.carousel');
        var VueMasonryPlugin = window["vue-masonry-plugin"].VueMasonryPlugin
        Vue.use(VueMasonryPlugin)
    }
    
    let grid;

    let $offset = 0,
        $updatedOffset;
        
    function initCarousel(){
        $('.owl-carousel--preview').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            dots: false,
            responsive:{
                600:{
                    items:3
                },
                1000:{
                    items:4
                }
            }
        });
    };

    export default {
        mounted() {
            grid = document.getElementById('insta-looks-vue');
            // this.getFirstFour();
            this.mainClassChange();
            this.pageTemplateChange();
            this.getPosts();
            this.loadMore();
            // using with cdn because importing was causeing a compiling issue
            var VueMasonryPlugin = window["vue-masonry-plugin"].VueMasonryPlugin
            Vue.use(VueMasonryPlugin)
            // console.log('balls');
            // console.log(this.posts);
        },
        data(){
            return {
                posts: [],
                postsData: {
                    'action': 'more_mystyle',
                    'offset': $offset,
                    'limit': 4,
                    'userId': 'JackieMiranne'
                }
            }
        },
        // head () {
        //     return {
        //         title: this.title,
        //         meta: [
        //             { hid: 'description', name: 'description', content: 'My custom description' }
        //         ]
        //     }
        // },
        updated() {
            
            let self = this;
            initCarousel();
            imagesLoaded( grid, function( instance ) {
                // console.log('all images are loaded');
                self.$redrawVueMasonry();
                setTimeout(() => {
                    $('.shop-preview').removeClass('shop-preview--reveal');
                }, 250);
            });

        },
        destroyed() {
            this.$store.state.pageTemplate = ''
        },
        methods: {
            mainClassChange() {
				this.$store.state.mainClass = 'shop-layout shop-layout--insta'
            },
            pageTemplateChange(){
                this.$store.state.pageTemplate = 'page-template-tmpl-shop-style'
            },
            getPosts(){
                let self = this;
                let postData = this.postsData;
                postData.offset = 0;

                if(this.$store.state.shop_styles.length > 0) {
                    // console.log('store');
                    this.posts = this.$store.state.shop_styles;
                    // console.log(this.posts);
                } else {
                    // console.log('not store');
                    $.post( '/fancy-squares-core/',postData,function(res){
    
                            let obj = JSON.parse(res);
    
                            self.$store.state.shop_styles = obj.posts;
                            // console.log(obj.posts);
    
                            this.posts = obj.posts;
                            for (let index = 0; index < obj.posts.length; index++) {
                                const element = obj.posts[index];
                                self.posts.push(element);
    
                                // self.$redrawVueMasonry();
                            }
    
                        }).done(function(){
    
                        });

                }

            },
            loadMore(){
                let self = this;
                let postData = this.postsData;
                // console.log(postData.offset);
                $('#load-more').on('click',function(e){
                    
                    postData.offset =  postData.offset + 4;
                    // console.log(postData.offset);

                    $.post( '/fancy-squares-core/',postData,function(res){
				
                            $updatedOffset = $offset + 4;
                            $offset = $updatedOffset;

                            let obj = JSON.parse(res);

                            this.posts = obj.posts;
                            for (let index = 0; index < obj.posts.length; index++) {
                                const element = obj.posts[index];
                                self.posts.push(element);

                                // self.$redrawVueMasonry();
                            }
    
                        }).done(function(){

                        });
                    
                });
            }
        }
    }

</script>