<template>
    <!-- text block -->
    <section v-if="contentType.acf_fc_layout === 'text_block'" class="single-layout__text-block cell">
        
        <p>
            {{ contentType.text }}
        </p>

    </section>
    <!-- full width image -->
    <section v-else-if="contentType.acf_fc_layout === 'full_width_image_block'" class="cell single-layout__img">
        
        <figure>

            <img v-bind:src="contentType.image.url" alt="">

            <figcaption v-if="contentType.image.caption">
                {{ contentType.image.caption }}
            </figcaption>
    
        </figure>

    </section>
    <!-- title break -->
    <section v-else-if="contentType.acf_fc_layout === 'title_break_block'" class="single-layout__title-block single-layout__title-block--long grid-x">
        
        <div class="cell">
            <h2 class="section-title">
                {{ contentType.title }}
            </h2>
        </div>

    </section>
    <!-- location description block -->
    <section v-else-if="contentType.acf_fc_layout === 'location_description_block'" class="single-layout__locations">

        <div  v-for="(location, key, index) in contentType.blocks" :key="index" class="grid-x grid-padding-x single-layout__location">

            <div class="cell medium-9">
                <h2>
                    {{ location.title }}
                </h2>
                <p>
                    {{ location.description }}
                </p>
            </div>

            <div class="cell medium-3 location-cell">
                <a :href="location.location_link" target="_blank">
                    {{ location.location }}
                </a>
            </div>

        </div>

    </section>
    <!-- side_by_side_images_block -->
    <section v-else-if="contentType.acf_fc_layout === 'side_by_side_images_block'" class="single-layout__sxs grid-x grid-margin-x">
        
        <div class="cell small-6">
            <figure>
                <img v-bind:src="contentType.image_left.url" alt="">

                <figcaption v-if="contentType.image_left.caption">
                    {{ contentType.image_left.caption }}
                </figcaption>
            </figure>
        </div>
        <div class="cell small-6">
            <figure>
                <img v-bind:src="contentType.image_right.url" alt="">

                <figcaption v-if="contentType.image_right.caption">
                    {{ contentType.image_right.caption }}
                </figcaption>
            </figure>
        </div>

    </section>
    <!-- Image Left, Content Right -->
    <section v-else-if="contentType.acf_fc_layout === 'image_left_content_right'" class="single-layout__im-cr grid-x grid-margin-x">
        
        <div class="cell medium-6 single-layout__sxs-block">
            <div class="image-left-bg" :style="{ backgroundImage: 'url(' + contentType.image.url + ')' }"></div>
        </div>
        <div class="cell medium-6 single-layout__sxs-block" v-html="contentType.content"></div>
    
    </section>
    <!-- Content Left, Image Right -->
    <section v-else-if="contentType.acf_fc_layout === 'content_left_image_right'" class="single-layout__im-cr grid-x grid-margin-x">
        
        <div class="cell medium-6 single-layout__sxs-block" v-html="contentType.content"></div>
        <div class="cell medium-6 single-layout__sxs-block">
            <div class="image-left-bg" :style="{ backgroundImage: 'url(' + contentType.image.url + ')' }"></div>
        </div>
    
    </section>



</template>

<script>
    export default {
        // hook into life cycle event
        props: [
            'contentType',
        ],

    }
</script>