<template>
    <article class="cell post-preview" v-cloak>
        <header>
            <span class="post-preview__cat-title">
                {{ category }}
            </span>
            <h2 class="entry-title">
                <nuxt-link :to="'/posts/' + link" v-html="title"></nuxt-link>
            </h2>
        </header>
        
        <nuxt-link :to="'/posts/' + link" v-bind:title="title" class="post-preview__img-link">
            <img v-bind:src="imgUrl" alt="">
        </nuxt-link>
        
        <div class="entry-summary" v-html="excerpt">
            
        </div>

    </article>
</template>


<script>
    export default {
        // hook into life cycle event
        props: [
            'title',
            'link',
            'category',
            'excerpt',
            'imgUrl'
        ],
    }
</script>