<template>
    
    <section class="single-layout__pagination">

        <div class="grid-x grid-margin-x single-layout__pagination-grid align-justify">

            <div class="cell small-11 large-shrink prev">

                <nuxt-link :to="paginate.previous_post.slug" class="pagination-link grid-x grid-x--fullwidth" v-if="paginate.previous_post.slug !== null">
                        <span class="cell cell--post-title">
                            <span class="basic-title">
                                Previous Post
                            </span>
                            <span class="title">
                                {{ paginate.previous_post.name }}
                            </span>
                        </span>
                        
                </nuxt-link>
        
            </div>

            <div class="cell small-11 large-shrink next text-right">


                <nuxt-link :to="paginate.next_post.slug"  v-if="paginate.next_post.slug !== null" class="pagination-link grid-x grid-x--fullwidth">
                    <span class="cell cell--post-title">
                        <span class="basic-title">
                                Next Post >
                        </span>
                        <span class="title">
                            {{ paginate.next_post.name }}
                        </span>
                    </span>
                    
                </nuxt-link>

            </div>
        
        </div>

    
    </section>

</template>


<script>
    export default {
        // hook into life cycle event
        mounted() {
            // console.log(paginate);
        },
        props: [
            'paginate',
        ],
    }
</script>